<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated</title>
</head>

<body>


<h1>Kérem az adatokat:</h1>

<form data-th-object="${newdata}" data-th-action="@{/result}" method="post" >
    <input type="text" data-th-field="*{name}" placeholder="Név" />
    <br />
    <br />
    <label>Magasság</label>
    <br />
    <input type="number" data-th-field="*{height}" placeholder="Magasság" />
    <br />
    <br />
    <label>Súly</label>
    <br />
    <input type="number" data-th-field="*{kgs}" placeholder="Súly"/>
    <br />
    <br />
    <input type="submit" value="Számolás">
</form>
</body>


</html>
